<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->

<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->


<!--    <title>首页</title>-->

<!--    <link rel="shortcut icon" href="favicon.ico">-->
<!--    <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">-->
<!--    <link th:href="@{/asserts/css/font-awesome.min.css}" rel="stylesheet">-->
<!--    <link th:href="@{/asserts/css/plugins/footable/footable.core.css}" rel="stylesheet">-->

<!--    <link th:href="@{/asserts/css/animate.min.css}" rel="stylesheet">-->
<!--    <link th:href="@{/asserts/css/style.min.css}" rel="stylesheet">-->
<!--    <link th:href="@{/asserts/css/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">-->

<!--</head>-->

<!--<body class="gray-bg">-->
<!--<div class="wrapper wrapper-content animated fadeInRight">-->


<!--    <div class="col-sm-12">-->
<!--        <div class="ibox float-e-margins">-->
<!--            <div class="ibox-content" style="padding: 8px 10px 0px 10px;">-->
<!--                <div class="row">-->
<!--                    <div class="col-sm-3">-->
<!--                        <div class="ibox float-e-margins">-->
<!--                            <div class="ibox-title" style="border-color: #1c84c6;">-->
<!--                                <span class="label label-success pull-right">今日新增</span>-->
<!--                                <h5><i class="fa fa-info-circle"></i>系统接入</h5>-->
<!--                            </div>-->
<!--                            <div class="ibox-content">-->
<!--                                <h1 class="no-margins"><span class="deviceArchivesTotalCount"/>7</h1>-->
<!--                                <div class="stat-percent font-bold text-success">0<span-->
<!--                                        class="deviceArchivesPercent"></span>-->
<!--                                </div>-->
<!--                                <small>个</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-sm-3">-->
<!--                        <div class="ibox float-e-margins">-->
<!--                            <div class="ibox-title" style="border-color: #1ab394;">-->
<!--                                <span class="label label-primary pull-right">今日新增</span>-->
<!--                                <h5><i class="fa fa-paper-plane"></i>报表接入</h5>-->
<!--                            </div>-->
<!--                            <div class="ibox-content">-->
<!--                                <h1 class="no-margins"><span class="deviceReceiveTotalCount"/>45</h1>-->
<!--                                <div class="stat-percent font-bold text-navy">0<span-->
<!--                                        class="deviceReceivePercent"></span>-->
<!--                                </div>-->
<!--                                <small>个</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-3">-->
<!--                        <div class="ibox float-e-margins">-->
<!--                            <div class="ibox-title" style="border-color: #ed5565;">-->
<!--                                <span class="label label-danger pull-right">今日新增</span>-->
<!--                                <h5><i class="fa fa-user"></i>用户个数</h5>-->
<!--                            </div>-->
<!--                            <div class="ibox-content">-->
<!--                                <h1 class="no-margins"><span class="deviceRollbackTotalCount"/>8</h1>-->
<!--                                <div class="stat-percent font-bold text-danger">0<span-->
<!--                                        class="deviceRollbackPercent"></span>-->
<!--                                </div>-->
<!--                                <small>个</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-3">-->
<!--                        <div class="ibox float-e-margins">-->
<!--                            <div class="ibox-title" style="border-color: #23c6c8;">-->
<!--                                <span class="label label-info pull-right">今日新增</span>-->
<!--                                <h5><i class="fa fa-vimeo-square"></i>访问次数</h5>-->
<!--                            </div>-->
<!--                            <div class="ibox-content">-->
<!--                                <h1 class="no-margins"><span class="countvisit"/></h1>-->
<!--                                <div class="stat-percent font-bold text-info"><span-->
<!--                                        class="countvisittoday"></span>-->
<!--                                </div>-->
<!--                                <small>次</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-sm-4">-->
<!--        <div class="ibox float-e-margins">-->
<!--            <div class="ibox-title" style="border-color: #37b8ad;">-->
<!--                <h3><i class="fa fa-bar-chart"></i>服务器CPU使用率</h3>-->
<!--            </div>-->
<!--            <div class="ibox-content" style="padding: 8px 10px 0px 10px;">-->
<!--                <div class="ibox float-e-margins">-->
<!--                    <div id="a9" style="width: 100%;height:400%;"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-sm-4">-->
<!--        <div class="ibox float-e-margins">-->
<!--            <div class="ibox-title" style="border-color: #37b8ad;">-->
<!--                <h3><i class="fa fa-bar-chart"></i>服务器空间使用率</h3>-->
<!--            </div>-->
<!--            <div class="ibox-content" style="padding: 8px 10px 0px 10px;">-->
<!--                <div class="ibox float-e-margins">-->
<!--                    <div id="a10" style="width: 100%;height:400%;"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-4">-->
<!--        <div class="ibox float-e-margins">-->
<!--            <div class="ibox-title" style="border-color: #37b8ad;">-->
<!--                <h3><i class="fa fa-bar-chart"></i>服务器内存使用率</h3>-->
<!--            </div>-->
<!--            <div class="ibox-content" style="padding: 8px 10px 0px 10px;">-->
<!--                <div class="ibox float-e-margins">-->
<!--                    <div id="a8" style="width: 100%;height:400%;"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-4">-->
<!--        <div class="ibox float-e-margins">-->
<!--            <div class="ibox-title" style="border-color: #37b8ad;">-->
<!--                <h3><i class="fa fa-bar-chart"></i>实时CPU</h3>-->
<!--            </div>-->
<!--            <div class="ibox-content" style="padding: 8px 10px 0px 10px;">-->
<!--                <div class="ibox float-e-margins">-->
<!--                    <div id="a1" style="width: 100%;height:400%;"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-4">-->
<!--        <div class="ibox float-e-margins">-->
<!--            <div class="ibox-title" style="border-color: #37b8ad;">-->
<!--                <h3><i class="fa fa-bar-chart"></i>实时内存</h3>-->
<!--            </div>-->
<!--            <div class="ibox-content" style="padding: 8px 10px 0px 10px;">-->
<!--                <div class="ibox float-e-margins">-->
<!--                    <div id="a2" style="width: 100%;height:400%;"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-sm-4">-->
<!--        <div class="ibox float-e-margins">-->
<!--            <div class="ibox-title" style="border-color: #37b8ad;">-->
<!--                <h3><i class="fa fa-bar-chart"></i>实时网络接包</h3>-->
<!--            </div>-->
<!--            <div class="ibox-content" style="padding: 8px 10px 0px 10px;">-->
<!--                <div class="ibox float-e-margins">-->
<!--                    <div id="a3" style="width: 100%;height:400%;"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div th:replace="common/pop/confirm::showConfirm"></div>-->

<!--<script th:src="@{/asserts/js/jquery.min.js}"></script>-->
<!--<script th:src="@{/asserts/js/bootstrap.min.js}"></script>-->
<!--<script th:src="@{/asserts/js/plugins/footable/footable.all.min.js}"></script>-->
<!--<script th:src="@{/asserts/js/content.min.js}"></script>-->
<!--<script th:src="@{/asserts/js/echarts.min.js}" type="text/javascript"></script>-->

<!--<script th:replace="common/myJs::myCommonJs"></script>-->

<!--<script th:inline="javascript">-->
<!--    $(function () {-->
<!--        a10();//服务器空间-->
<!--        a8();//产权树-->
<!--        a9();-->
<!--        a1();-->
<!--        a2();-->
<!--        a3();-->

<!--        $.ajax({-->
<!--            url: [[@{'/home/counttotal'}]],-->
<!--            type: "post",-->
<!--            success: function (data) {-->
<!--                data = eval('(' + data + ')');-->
<!--                $('.countvisit').text(data.countVisit);-->
<!--                $('.countvisittoday').text(data.countVisitToday);-->
<!--            }-->
<!--        });-->
<!--    });-->

<!--    function a1() {-->
<!--        var data = [];-->
<!--        let myChart = echarts.init(document.getElementById('a1'));-->
<!--        myChart.showLoading();-->
<!--        var option = {-->
<!--            tooltip: {-->
<!--                trigger: 'axis',-->
<!--                formatter: function (params) {-->
<!--                    params = params[0];-->
<!--                    var date = new Date(params.name);-->
<!--                    return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];-->

<!--                },-->
<!--                axisPointer: {-->
<!--                    animation: false-->
<!--                }-->
<!--            },-->
<!--            xAxis: {-->
<!--                type: 'time',-->
<!--                splitLine: {-->
<!--                    show: false-->
<!--                }-->
<!--            },-->
<!--            yAxis: {-->
<!--                type: 'value',-->
<!--                boundaryGap: [0, '100%'],-->
<!--                splitLine: {-->
<!--                    show: false-->
<!--                },-->
<!--                max: 100,-->
<!--                min: 0-->
<!--            },-->
<!--            series: [{-->
<!--                name: '模拟数据',-->
<!--                type: 'line',-->
<!--                showSymbol: false,-->
<!--                hoverAnimation: false,-->
<!--                data: data-->
<!--            }]-->
<!--        };-->

<!--        myChart.hideLoading();-->
<!--        myChart.setOption(option);-->

<!--        setInterval(function () {-->
<!--            $.ajax({-->
<!--                url: [[@{'/home/countcpu'}]],-->
<!--                type: "POST",-->
<!--                success: function (datas) {-->
<!--                    datas = JSON.parse(datas);-->

<!--                    var a = {-->
<!--                        name: datas.serverCPUSyncTime,-->
<!--                        value: [-->
<!--                            datas.serverCPUSyncTime,-->
<!--                            datas.countCPUUsage]-->
<!--                    };-->
<!--                    data.push(a);-->
<!--                    if (data.length > 90) {-->
<!--                        data.shift()-->
<!--                    }-->
<!--                },-->
<!--                error: function (data) {-->
<!--                }-->
<!--            });-->

<!--            myChart.setOption({-->
<!--                series: [{-->
<!--                    data: data-->
<!--                }]-->
<!--            });-->
<!--        }, 2000);-->
<!--    }-->


<!--    function a2() {-->
<!--        var data = [];-->
<!--        let myChart = echarts.init(document.getElementById('a2'));-->
<!--        myChart.showLoading();-->
<!--        var option = {-->
<!--            tooltip: {-->
<!--                trigger: 'axis',-->
<!--                formatter: function (params) {-->
<!--                    params = params[0];-->
<!--                    var date = new Date(params.name);-->
<!--                    return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];-->

<!--                },-->
<!--                axisPointer: {-->
<!--                    animation: false-->
<!--                }-->
<!--            },-->
<!--            xAxis: {-->
<!--                type: 'time',-->
<!--                splitLine: {-->
<!--                    show: false-->
<!--                }-->
<!--            },-->
<!--            yAxis: {-->
<!--                type: 'value',-->
<!--                boundaryGap: [0, '100%'],-->
<!--                splitLine: {-->
<!--                    show: false-->
<!--                },-->
<!--                max: 100,-->
<!--                min: 0-->
<!--            },-->
<!--            series: [{-->
<!--                name: '模拟数据',-->
<!--                type: 'line',-->
<!--                showSymbol: false,-->
<!--                hoverAnimation: false,-->
<!--                data: data-->
<!--            }]-->
<!--        };-->

<!--        myChart.hideLoading();-->
<!--        myChart.setOption(option);-->

<!--        setInterval(function () {-->
<!--            $.ajax({-->
<!--                url: [[@{'/home/countMemoryUsage'}]],-->
<!--                type: "POST",-->
<!--                success: function (datas) {-->
<!--                    datas = JSON.parse(datas);-->

<!--                    var a = {-->
<!--                        name: datas.serverMemorySyncTime,-->
<!--                        value: [-->
<!--                            datas.serverMemorySyncTime,-->
<!--                            datas.countServerMemory]-->
<!--                    };-->
<!--                    data.push(a);-->
<!--                    if (data.length > 90) {-->
<!--                        data.shift()-->
<!--                    }-->
<!--                },-->
<!--                error: function (data) {-->
<!--                }-->
<!--            });-->

<!--            myChart.setOption({-->
<!--                series: [{-->
<!--                    data: data-->
<!--                }]-->
<!--            });-->
<!--        }, 2000);-->
<!--    }-->

<!--    function a3() {-->
<!--        var data = [];-->
<!--        let myChart = echarts.init(document.getElementById('a3'));-->
<!--        myChart.showLoading();-->
<!--        var option = {-->
<!--            tooltip: {-->
<!--                trigger: 'axis',-->
<!--                formatter: function (params) {-->
<!--                    params = params[0];-->
<!--                    var date = new Date(params.name);-->
<!--                    return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];-->

<!--                },-->
<!--                axisPointer: {-->
<!--                    animation: false-->
<!--                }-->
<!--            },-->
<!--            xAxis: {-->
<!--                type: 'time',-->
<!--                splitLine: {-->
<!--                    show: false-->
<!--                }-->
<!--            },-->
<!--            yAxis: {-->
<!--                type: 'value',-->
<!--                boundaryGap: [0, '100%'],-->
<!--                splitLine: {-->
<!--                    show: false-->
<!--                }-->
<!--            },-->
<!--            series: [{-->
<!--                name: '模拟数据',-->
<!--                type: 'line',-->
<!--                showSymbol: false,-->
<!--                hoverAnimation: false,-->
<!--                data: data-->
<!--            }]-->
<!--        };-->

<!--        myChart.hideLoading();-->
<!--        myChart.setOption(option);-->

<!--        setInterval(function () {-->
<!--            $.ajax({-->
<!--                url: [[@{'/home/countpackage'}]],-->
<!--                type: "POST",-->
<!--                success: function (datas) {-->
<!--                    datas = JSON.parse(datas);-->

<!--                    var a = {-->
<!--                        name: datas.serverPackageSyncTime,-->
<!--                        value: [-->
<!--                            datas.serverPackageSyncTime,-->
<!--                            datas.countPackage]-->
<!--                    };-->
<!--                    data.push(a);-->
<!--                    if (data.length > 90) {-->
<!--                        data.shift()-->
<!--                    }-->
<!--                },-->
<!--                error: function (data) {-->
<!--                }-->
<!--            });-->

<!--            myChart.setOption({-->
<!--                series: [{-->
<!--                    data: data-->
<!--                }]-->
<!--            });-->
<!--        }, 2500);-->
<!--    }-->


<!--    function a8() {-->
<!--        let myChart = echarts.init(document.getElementById('a8'));-->
<!--        myChart.showLoading();-->
<!--        a81(myChart);-->
<!--        setInterval(function () {-->
<!--            a81(myChart)-->
<!--        }, 2000);-->
<!--    }-->

<!--    function a81(myChart) {-->
<!--        $.ajax({-->
<!--            url: [[@{'/home/countMemoryUsage'}]],-->
<!--            type: "POST",-->
<!--            success: function (data) {-->
<!--                data = JSON.parse(data);-->
<!--                var option = {-->
<!--                    tooltip: {-->
<!--                        formatter: "{a} <br/>{b} : {c}%"-->
<!--                    },-->
<!--                    series: [-->
<!--                        {-->
<!--                            name: [[#{message.server.memory}]],-->
<!--                            type: 'gauge',-->
<!--                            detail: {formatter: '{value}%'},-->
<!--                            data: [{value: data.countServerMemory, name: [[#{message.memory}]]}],-->
<!--                            axisLine: {-->
<!--                                show: true,-->
<!--                                lineStyle: {-->
<!--                                    color: [-->
<!--                                        [1, new echarts.graphic.LinearGradient(0, 0, 1, 0, [-->
<!--                                            {-->
<!--                                                offset: 0.1,-->
<!--                                                color: "#FFC600"-->
<!--                                            },-->
<!--                                            {-->
<!--                                                offset: 0.6,-->
<!--                                                color: "#30D27C"-->
<!--                                            },-->
<!--                                            {-->
<!--                                                offset: 1,-->
<!--                                                color: "#0B95FF"-->
<!--                                            }-->
<!--                                        ])-->
<!--                                        ]-->
<!--                                    ]-->

<!--                                }-->
<!--                            }-->
<!--                        }-->
<!--                    ]-->
<!--                };-->
<!--                myChart.hideLoading();-->
<!--                myChart.setOption(option);-->
<!--            },-->
<!--            error: function (data) {-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--    function a9() {-->
<!--        let myChart = echarts.init(document.getElementById('a9'));-->
<!--        myChart.showLoading();-->
<!--        a91(myChart);-->
<!--        setInterval(function () {-->
<!--            a91(myChart)-->
<!--        }, 2000);-->
<!--    }-->

<!--    function a91(myChart) {-->
<!--        $.ajax({-->
<!--            url: [[@{'/home/countcpu'}]],-->
<!--            type: "POST",-->
<!--            success: function (data) {-->
<!--                data = JSON.parse(data);-->
<!--                var option = {-->
<!--                    tooltip: {-->
<!--                        formatter: "{a} <br/>{b} : {c}%"-->
<!--                    },-->
<!--                    series: [-->
<!--                        {-->
<!--                            name: 'CPU',-->
<!--                            type: 'gauge',-->
<!--                            detail: {formatter: '{value}%'},-->
<!--                            data: [{value: data.countCPUUsage, name: 'CPU'}],-->
<!--                            axisLine: {-->
<!--                                show: true,-->
<!--                                lineStyle: {-->
<!--                                    color: [-->
<!--                                        [1, new echarts.graphic.LinearGradient(0, 0, 1, 0, [-->
<!--                                            {-->
<!--                                                offset: 0.1,-->
<!--                                                color: "#FFC600"-->
<!--                                            },-->
<!--                                            {-->
<!--                                                offset: 0.6,-->
<!--                                                color: "#30D27C"-->
<!--                                            },-->
<!--                                            {-->
<!--                                                offset: 1,-->
<!--                                                color: "#0B95FF"-->
<!--                                            }-->
<!--                                        ])-->
<!--                                        ]-->
<!--                                    ]-->

<!--                                }-->
<!--                            }-->
<!--                        }-->
<!--                    ]-->
<!--                };-->
<!--                myChart.hideLoading();-->
<!--                myChart.setOption(option);-->
<!--            },-->
<!--            error: function (data) {-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--    function a10() {-->
<!--        let myChart = echarts.init(document.getElementById('a10'));-->
<!--        myChart.showLoading();-->
<!--        a101(myChart);-->
<!--        setInterval(function () {-->
<!--            a101(myChart)-->
<!--        }, 100000);-->
<!--    }-->

<!--    function a101(myChart) {-->
<!--        $.ajax({-->
<!--            url: [[@{'/home/countDiskUsage'}]],-->
<!--            type: "POST",-->
<!--            success: function (data) {-->
<!--                data = JSON.parse(data);-->
<!--                var option = {-->
<!--                    tooltip: {-->
<!--                        formatter: "{a} <br/>{b} : {c}%"-->
<!--                    },-->
<!--                    series: [-->
<!--                        {-->
<!--                            name: [[#{message.server.disk}]],-->
<!--                            type: 'gauge',-->
<!--                            detail: {formatter: '{value}%'},-->
<!--                            data: [{value: data.countDiskUsage, name: [[#{message.disk}]]}],-->
<!--                            axisLine: {-->
<!--                                show: true,-->
<!--                                lineStyle: {-->
<!--                                    color: [-->
<!--                                        [1, new echarts.graphic.LinearGradient(0, 0, 1, 0, [-->
<!--                                            {-->
<!--                                                offset: 0.1,-->
<!--                                                color: "#FFC600"-->
<!--                                            },-->
<!--                                            {-->
<!--                                                offset: 0.6,-->
<!--                                                color: "#30D27C"-->
<!--                                            },-->
<!--                                            {-->
<!--                                                offset: 1,-->
<!--                                                color: "#0B95FF"-->
<!--                                            }-->
<!--                                        ])-->
<!--                                        ]-->
<!--                                    ]-->

<!--                                }-->
<!--                            }-->
<!--                        }-->
<!--                    ]-->
<!--                };-->
<!--                myChart.hideLoading();-->
<!--                myChart.setOption(option);-->
<!--            },-->
<!--            error: function (data) {-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--</script>-->
<!--</body>-->

<!--</html>-->