<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - FooTable</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/plugins/footable/footable.core.css}" rel="stylesheet">
    <link href="asserts/css/bootstrap-select.min.css" rel="stylesheet"
          th:href="@{/asserts/css/bootstrap-select.min.css}">

    <link th:href="@{/asserts/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜索</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content ">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-10 mt-4">
                                <label class="col-sm-2 my-font-bold">单位名称</label>
                                <div class="col-sm-2">
                                    <input id="unitname" name="unitname" type="text" class="form-control required">
                                </div>

                                <label class="col-sm-2 my-font-bold">境内外标志</label>
                                <div class="col-sm-2">
                                    <select class="selectpicker" id="domain" data-live-search="false" name="domain">
                                        <option value="">请选择</option>
                                        <option value="境内">境内</option>
                                        <option value="境外">境外</option>
                                    </select>
                                </div>

                                <label class="col-sm-2 my-font-bold">单位类型</label>
                                <div class="col-sm-2">
                                    <input id="unittype" name="unittype" type="text" class="form-control required">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-10 mt-4">
                                <label class="col-sm-2 my-font-bold">企业类型</label>
                                <div class="col-sm-2">
                                    <input id="enterprisetype" name="enterprisetype" type="text"
                                           class="form-control required">
                                </div>

                                <label class="col-sm-2 my-font-bold">上报状态</label>
                                <div class="col-sm-2">
                                    <input id="state" name="state" type="text" class="form-control required">
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-10 mt-4">
                                <label class="col-sm-2 my-font-bold">新增类型</label>
                                <div class="col-sm-2">
                                    <input id="newtype" name="newtype" type="text" class="form-control required">
                                </div>

                                <label class="col-sm-2 my-font-bold">注销类型</label>
                                <div class="col-sm-2">
                                    <input id="cancellationtype" name="cancellationtype" type="text"
                                           class="form-control required">
                                </div>


                            </div>

                            <div class="col-sm-2">
                                <div class="form-group text-right">
                                    <button class="btn btn-success" type="button" onclick="createTable()">查询</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>企业基本信息</h5>
                    <div class="text-right">
                            <a class="btn btn-success pull-right btn-sm badge-pill mb-1 m-1-sm" onclick="$('#importExcel').click();"><i
                                    class="fa fa-cloud-upload"> </i>导入</a>
                            <a class="btn btn-success pull-right btn-sm badge-pill mb-1 m-1-sm" style="margin-right: 4px;" onclick="exportExcel()"><i
                                    class="fa fa-cloud-download"> </i>导出</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <a class="btn btn-warning  btn-sm badge-pill mb-1" href="javascript:goAdd()"><i
                            class="fa fa-plus"> </i> [[#{message.add}]]</a>
                    <div class="table-responsive">
                        <table id="table">
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/asserts/js/jquery.min.js}"></script>
<script th:src="@{/asserts/js/bootstrap.min.js}"></script>
<script th:src="@{/asserts/js/plugins/footable/footable.all.min.js}"></script>
<script th:src="@{/asserts/js/content.min.js}"></script>
<script th:src="@{/asserts/js/bootstrap-table/bootstrap-table.min.js?v=1}"></script>
<script th:src="@{/asserts/js/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
<script src="asserts/js/bootstrap-select.min.js" th:src="@{/asserts/js/bootstrap-select.min.js}"
        type="text/javascript"></script>

<script th:replace="common/myJs::myCommonJs"></script>
<script>
    $(function () {
        createTable();
    });

    function resetTable() {
        createTable()
    }

    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>')
        });
        return html.join('');
    }

    function onExpand(data) {
        debugger;
        for (var i = 0; i < data.total; i++)
            $('#table').bootstrapTable('toggleDetailView', i);//展开详情行
    }

    function exportExcel(){
        let url = '[[@{/orgbase/exportExcel.xlsx}]]';
        window.open(url);
    }

    function createTable() {
        let url = '[[@{/orgbase/list}]]';
        $("#table").bootstrapTable('destroy');
        $("#table").bootstrapTable({
            url: url,        //请求后台的URL（*）
            method: 'post',                      //请求方式（*）
            contentType: "application/x-www-form-urlencoded",
            pagination: true,                   //是否显示分页（*）
            cache: false,
            detailView: true, //1，开启详情视树形图模式
            detailFormatter: "detailFormatter", //2，定义详情显示函数
            pageSize: 10,//每页一条数据
            striped: true,  //表格显示条纹
            dataField: "list",
            queryParamsType: "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    unitname: $('#unitname').val(),
                    domain: $('#domain').val()
                };
                return param;
            },
            onLoadSuccess: function (data) {
                onExpand(data);
            },
            sidePagination: 'server',
            pageNumber: 1,
            columns: [{
                field: "uuid",
                visible: false
            }, {
                field: "unitname",
                title: "单位名称"
            }, {
                field: "creditcode",
                title: "企业编码"
            }, {
                field: "englishname",
                title: "境内外标志"
            }, {
                field: "establishmentdate",
                title: "单位类型"
            }, {
                field: "legal",
                title: "企业类型"
            }, {
                field: "cz",
                title: "操作",
                width: "20%",
                formatter: function (value, row) {
                    var editHtml = '<a href="javascript:;" class="btn btn-success edit"><i class="fa fa-pencil"> </i> 编辑</a>&nbsp;';
                    var delHtml = '<a href="javascript:;" class="btn btn-danger del"><i class="fa fa-trash"> </i> 删除</a>&nbsp;';
                    var checkHtml = '<a href="javascript:;" class="btn btn-primary check"><i class="fa fa-eye"></i> 查看详细</a>&nbsp;';

                    var gqhtml = '<a href="javascript:;" class="btn btn-info audit"><i class="fa fa-send"> </i> 股权结构信息</a>&nbsp;';
                    var ryhtml = '<a href="javascript:;" class="btn btn-info pepo"><i class="fa fa-server"> </i> 人员信息</a>&nbsp;';
                    var qyhtml = '<a href="javascript:;" class="btn btn-info ent"><i class="fa fa-question"> </i> 参股企业信息</a>&nbsp;';

                    var buttonhtml = editHtml + delHtml + checkHtml + gqhtml + ryhtml + qyhtml;
                    return buttonhtml;
                },
                events: {
                    'click .edit': function (e, value, row, index) {
                        var id = row.id;
                        location.href = 'goedit?id=' + id;
                    },
                    'click .del': function (e, value, row, index) {
                        var id = row.id;
                        var url = 'delete';

                        $('#confirmModal').modal("show");
                        $("#confirmDelete").click(function () {
                            $.ajax({
                                url: url,
                                data: 'id=' + id,
                                type: "post",
                                success: function (data) {
                                    createTable();
                                }
                            });
                            $('#confirmModal').modal("hide");
                        });
                    },

                    'click .audit': function (e, value, row, index) {
                        var id = row.id;
                        url = '[[@{' / stock / go ? id = '}]]';
                        location.href = url + id;
                    },

                    'click .pepo': function (e, value, row, index) {
                        var id = row.id;
                        url = '[[@{' / personnel / go ? id = '}]]';
                        location.href = url + id;
                    },

                    'click .ent': function (e, value, row, index) {
                        var id = row.id;
                        url = '[[@{' / particip / go ? id = '}]]';
                        location.href = url + id;
                    }
                }
            }]
        });
    }


    function goAdd() {
        location.href = '[[@{/orgbase/goadd}]]';
    }
</script>
</body>

</html>

<div th:fragment="showConfirm" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">确认删除</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary del" id="confirmDelete">确认删除</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>