<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanxi.coal.dao.SysDataRolePowerMapper">
    <resultMap id="BaseResultMap" type="com.shanxi.coal.domain.SysDataRolePower">
        <id column="uuid" jdbcType="CHAR" property="uuid"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_by_org" jdbcType="VARCHAR" property="createdByOrg"/>
        <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy"/>
        <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate"/>
        <result column="is_del" jdbcType="TINYINT" property="isDel"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="power" jdbcType="VARCHAR" property="power"/>
    </resultMap>
    <sql id="Base_Column_List">
    uuid, created_date, created_by, created_by_org, modified_by, modified_date, is_del,
    status, role_id, power
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_data_role_power
        where uuid = #{uuid,jdbcType=CHAR}
    </select>
    <select id="listByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_data_role_power
        where role_id = #{uuid,jdbcType=CHAR}
    </select>
    <select id="listOrgIdByRole" resultType="java.lang.String">
        select power from sys_data_role_power
        where role_id = #{uuid,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_data_role_power
    where uuid = #{uuid,jdbcType=CHAR}
  </delete>
    <delete id="deleteByRole" parameterType="java.lang.String">
    delete from sys_data_role_power
    where role_id = #{uuid,jdbcType=CHAR}
    <if test="status!=null">
      and status = #{status, jdbcType=TINYINT}
    </if>
  </delete>
    <insert id="insert" parameterType="com.shanxi.coal.domain.SysDataRolePower">
    insert into sys_data_role_power (uuid, created_date, created_by,
      created_by_org, modified_by, modified_date,
      is_del, status, role_id,
      power)
    values (#{uuid,jdbcType=CHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR},
      #{createdByOrg,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP},
      #{isDel,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{roleId,jdbcType=VARCHAR},
      #{power,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.shanxi.coal.domain.SysDataRolePower">
        insert into sys_data_role_power
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="createdDate != null">
                created_date,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdByOrg != null">
                created_by_org,
            </if>
            <if test="modifiedBy != null">
                modified_by,
            </if>
            <if test="modifiedDate != null">
                modified_date,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="power != null">
                power,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid,jdbcType=CHAR},
            </if>
            <if test="createdDate != null">
                #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdByOrg != null">
                #{createdByOrg,jdbcType=VARCHAR},
            </if>
            <if test="modifiedBy != null">
                #{modifiedBy,jdbcType=VARCHAR},
            </if>
            <if test="modifiedDate != null">
                #{modifiedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="power != null">
                #{power,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch">
        INSERT INTO sys_data_role_power(uuid, power,role_id,status) values
        <foreach collection="list" item="item" index="index" open="" close="" separator=",">
            ( #{item.uuid}, #{item.power} , #{item.roleId},#{item.status} )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.shanxi.coal.domain.SysDataRolePower">
        update sys_data_role_power
        <set>
            <if test="createdDate != null">
                created_date = #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdByOrg != null">
                created_by_org = #{createdByOrg,jdbcType=VARCHAR},
            </if>
            <if test="modifiedBy != null">
                modified_by = #{modifiedBy,jdbcType=VARCHAR},
            </if>
            <if test="modifiedDate != null">
                modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="power != null">
                power = #{power,jdbcType=VARCHAR},
            </if>
        </set>
        where uuid = #{uuid,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.shanxi.coal.domain.SysDataRolePower">
    update sys_data_role_power
    set created_date = #{createdDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_by_org = #{createdByOrg,jdbcType=VARCHAR},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      role_id = #{roleId,jdbcType=VARCHAR},
      power = #{power,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=CHAR}
  </update>
</mapper>
